@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
*{
  font-family: 'Montserrat', sans-serif;
}
body {
  @apply antialiased;
  font-family: 'Montserrat', sans-serif;
}

main {
  backdrop-filter: blur(20px);
}

html {
  scroll-behavior: smooth;
}