@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
*{
  font-family: 'Montserrat', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PP+Editorial+New:wght@400;700&display=swap');

* {
  font-family: 'PP Editorial New', sans-serif;
}
body, html {
  overflow-x: hidden;
}
main {
  backdrop-filter: blur(20px);
}

html {
  scroll-behavior: smooth;
}